* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f1f8fa;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* Navbar styling */
.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 325px;
  height: 80px;
  position: fixed;
  z-index: 99999;
}

.text-logo {
  font-weight: 600;
  text-align: start;
  position: absolute;
  margin-bottom: 55px;
  margin-right: 230px;
}

.hamburger-menu {
  vertical-align: middle;
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 5px;
  font-size: 25px;
}

.menu-content {
  display: none;
  z-index: 9;
  position: absolute;
}

/* CSS for showing menu content */
.menu-content.show-menu {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: fixed;
  padding: 10px;
  top: 60px;
  right: 10px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.menu-content.show-menu a {
  padding: 10px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.2s;
}

.menu-content.show-menu a:hover {
  background-color: #f1f1f1;
  border-radius: 5px;
}

/* Header styling */
.header {
  display: flex;
  width: 336px;
  height: 200px;
  margin: 80px 10px 10px 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #38e6d4;
  position: relative;
  z-index: 99;
}

.title-1 {
  padding: 10px;
  font-size: 15px;
  position: absolute;
}

.text-header {
  text-align: justify;
  font-size: 14px;
  margin-top: 50px;
  padding: 10px;
}

/* Main content styling */
.main {
  flex-grow: 1;
  padding: 20px;
  position: relative;
}

.repository-list {
  
}

.line {
  margin-top: 10px;
}

.repo-item {
  margin-bottom: 20px;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #38e6d4;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 15px;
}

.repo-item > a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}


.list-temp {
  position: absolute;
}

.arrow-list-temp {
  vertical-align: middle;
  margin-top: 20px;
  margin-left: 130px;
  font-size: 24px;
}

.line-temp {
  margin-top: 10px;
}

.Vist {
  margin-left: 25%;
  margin-bottom: 5px;
}

/* Footer styling */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.copyright > a {
  text-decoration: none;
  color: #fff;
}

/* Media query for mobile view */
@media (min-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    width: 97%;
    position: relative;
  }
  
  .hamburger-menu {
    display: none;
  }
  
  .menu-content {
    display: flex;
    vertical-align: middle;
    position: absolute;
    top: 10px;
    left: 700px;
    gap: 15px;
  }
  
  .menu-content a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #333;
  }
  
  .header {
    width: 50%;
    height: 180px;
    padding: 5px;
  }
  
  .main {
    position: absolute;
    margin-left: 55%;
    margin-top: 50px;
    z-index: 99;
  }
  
  .list-tools {
    font-size: 20px;
  }
  
  .line {
    
  }
  
  .Vist {
    position: absolute;
  }
  
  .footer {
    margin-top: 380%;
  }
}
